body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Xanh+Mono:ital@0;1&display=swap');

h1, h2, h3, h4, a{
    font-family: "Xanh Mono", serif !important;
    font-weight: bold
}

a, .external-link a {
    font-size: 12pt !important;
    color: darkgreen !important
}

a.internal-link{
    font-size: 20pt !important;
    font-family: "Xanh Mono", serif !important
}

@media (max-width: 600px) {
    a.internal-link{
        font-size: 14pt !important
    }
}
.footnote a{
    font-size: 12pt !important
}

p {
    font-family: serif;
}

h2 a{
    font-size: 20pt !important;
    color: blue !important;
}
