body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Xanh+Mono:ital@0;1&display=swap');

h1, h2, h3, h4, a{
    font-family: "Xanh Mono", serif !important;
    font-weight: bold
}

a, .external-link a {
    font-size: 12pt !important;
    color: darkgreen !important
}

a.internal-link{
    font-size: 20pt !important;
    font-family: "Xanh Mono", serif !important
}

li a.internal-link {
    color: blue !important;
}

sup.footnote-ref a {
    font-size: 8pt !important;
    text-decoration: none;
    color: blue !important;
}

.footnote-ref {
    vertical-align: super;
}

@media (max-width: 738px) {
    h3 a.internal-link{
        font-size: 15pt !important;
        color: blue !important;
    }

    li a.internal-link {
        font-size: 20pt !important;
        margin-bottom: 20px !important;
        color: blue !important;
    }
}
    
.footnote a{
    font-size: 12pt !important;
}

a.footnote-backref {
    color: blue !important;
    font-weight: 400;
}

h1 {
    margin-bottom: 40px;
}

p {
    font-family: "Times New Roman", "Times", serif;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
}

h2 a, h3 a{
    font-size: 20pt !important;
    color: blue !important;
}

.book p{
    text-indent: 1.5rem;
    line-height: 1.5;
    white-space: pre-wrap;
    font-size: 13pt;
    margin: 0;
}

.book h2 {
    margin: 100px auto 30px auto;
    text-align: center;
}

.book h4 {
    text-align: left;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
    font-size: 1em !important;
    font-weight: 400 !important;
    text-decoration: none !important;
}

.book #texts-gardening {
    text-align: left !important;
    margin: 15px 0 !important;
}

.book #jump-to-nav {
    margin-left: -1.5rem;
}

.book blockquote p {
    text-indent: 0 !important;
}

.book ol {
    font-family: "Times New Roman", "Times", serif;
    font-size: 13pt;
}

#jump-to-nav {
    color: grey !important;
    display: block;
    text-decoration: none;
    width: fit-content;
    transition: transform .3s;
    font-size: 11pt;
}

#jump-to-nav:focus{
    outline: 2px solid red !important;
    border-radius: 2px;
    outline-offset: 3px !important;
    text-shadow: none !important;
    text-decoration: underline;
    color: blue !important;
}

#jump-to-nav:hover{
    text-decoration: underline;
    transform: scale(1.05);
    text-shadow: none !important;
    color: blue !important;
}

a:focus {
    outline: 1px dotted red !important;
    outline-offset: 3px;
    text-shadow: 0 0 1px #967969;
    border-radius: 2px !important;
}

a:hover {
    text-shadow: 0 0 1px #967969;
}

.theme-light {
    --color-accent: cornflowerblue !important;
}

/*.callout {
    --callout-color: 160, 82, 45 !important;
}*/

.backlink-list {
    max-height: fit-content;
}

@media (max-width: 800px) {
    .sidebar-container {
        flex-direction: column;
    }
}

blockquote {
    border-left: 3px solid sienna !important;
    padding-left: 0.75rem !important;
    margin-left: 0.75rem !important;
}
